.component {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 15px;
  background-color: #fff;
  border-bottom: 1px solid #dfe2ec;
  height: 86px;
  position: fixed;
  top: 0;
  width: calc(100% - 230px);
  z-index: 10;
  padding-left: 3rem;

  .label {
    display: flex;
    align-items: center;

    .logo {
      height: 50px;
      width: 50px;
      background-image: url('../../assets/logo.svg');
    }
  }

  .auth {
    padding: 2rem;
  }

  .control {
    display: flex;
    align-items: center;

    .separator {
      margin: 0 10px;
    }
  }
}

.role {
  font-size: 13px !important;
}
